ion-col {
  text-align: center;
}

ion-avatar {
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

ion-item {
  --padding-end: 0px;
  --padding-start: 0px;
  --inner-padding-end: 0px;
  --inner-padding-start: 0px;
}