<ion-item (click)="emitGoToGame()">
    <ion-avatar slot="start">
        <img [src]="getTeam1Logo()">
    </ion-avatar>
    <ion-label class="ion-text-center">
        <h1>{{score.team1}}</h1>
        <h2>{{game.team1 | team}}</h2>
        <p>{{setsTeam1}}</p>
    </ion-label>
    <ion-label class="ion-text-center">
        <h1>{{score.team2}}</h1>
        <h2>{{game.team2 | team}}</h2>
        <p>{{setsTeam2}}</p>
    </ion-label>
    <ion-avatar slot="end">
        <img [src]="getTeam2Logo()">
    </ion-avatar>
</ion-item>
