<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="bg-profile" text-center padding>
    <img src="assets/img/ionic4start-ico.png">
  </div>

  <ion-card class="bg-white" no-margin>
    <ion-card-content>
      <h1 margin-bottom>
        <ion-text color="primary"><strong>HAGAMOS COSAS ASOMBROSAS JUNTOS..</strong></ion-text>
      </h1>
      
      <p margin-bottom>
        Es una iniciativa privada encaminada a promover y visibilizar la disciplina deportiva del Voleibol Playa a nivel nacional e internacional, fomentando la participación de los clubes en torneos y eventos de promoción. Conformamos el circuito nacional de voley playa y con esto queremos sembrar las bases para la profesionalización del deporte, con el apoyo de la empresa pública y privada. En la actualidad Arena Tour tiene presencia en 8 ciudades principales a través de 15 clubes afiliados y 500 socios deportistas. Y en constante crecimiento.
Estamos trabajando en proyectos como lo son el colegio de árbitros de Arena Tour y el Circuito Elite. 
Buscamos constantemente alternativas de patrocinio de quienes se quieran sumar a este proceso.



      </p>
      
      <p>
        

      </p>
    </ion-card-content>
  </ion-card>

</ion-content>
