<ion-menu>
    <ion-header>
        <ion-header>
            <ion-toolbar color="dark">
                <ion-title>Menu</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-toolbar color="dark" *ngIf="user$ | async as user;" class="user-profile">
            <ion-item>
                <ion-avatar slot="start" class="user-avatar">
                    <img [src]="user.photoURL">
                </ion-avatar>
                <ion-label>
                    <ion-text color="medium">
                        <h1><strong>{{ user.displayName }}</strong></h1>
                    </ion-text>
                    <ion-text color="secondary">
                        <h3>
                            Colombia
                        </h3>
                    </ion-text>
                    <ion-menu-toggle class="mto" auto-hide="false">
                        <!-- <a class="text08" tappable (click)="goToEditProgile()">
                            <ion-text color="medium">
                                <ion-icon name="contact"></ion-icon>
                                <strong> Editar perfil</strong>
                            </ion-text>
                        </a> -->
                        <ion-text color="secondary"> | </ion-text>
                        <a class="text08" tappable (click)="logout()">
                            <ion-text color="medium">
                                <ion-icon name="log-out"></ion-icon>
                                <strong> Salir</strong>
                            </ion-text>
                        </a>
                    </ion-menu-toggle>
                </ion-label>
            </ion-item>

        </ion-toolbar>
    </ion-header>

    <ion-content class="bg-profile">
        <ion-list class="ion-no-padding">
            <ion-menu-toggle auto-hide="false" *ngFor="let p of menus$ | async">
                <ion-item [routerLink]="[p.url]" color="primary">
                    <ion-icon slot="start" [name]="p.icon" color="light"></ion-icon>
                    <ion-label>
                        {{p.title}}
                    </ion-label>
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
    </ion-content>

    <ion-footer>
        <ion-grid class="btn-group">
            <ion-row *ngIf="!(user$ | async)">
                <ion-col>
                    <ion-button size="small" expand="block" (click)="goToLogin()">Iniciar sesión</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size="4">
                    <ion-button shape="round" expand="full" color="secondary" (click)="openFacebook()">
                        <ion-icon slot="icon-only" name="logo-facebook"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="4">
                    <ion-button shape="round" expand="full" color="secondary" (click)="openInstagram()">
                        <ion-icon slot="icon-only" name="logo-instagram"></ion-icon>
                    </ion-button>
                </ion-col>
                <ion-col size="4">
                    <ion-button shape="round" expand="full" color="secondary" (click)="openPage()">
                        <ion-icon slot="icon-only" name="logo-chrome"></ion-icon>
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-footer>
</ion-menu>

<ion-router-outlet main></ion-router-outlet>